gradio
google-generativeai
google-ai-generativelanguage
Pillow
numpy
SpeechRecognition
edge-tts
pygame
python-dotenv
pydub
opencv-python
deep-translator
langchain
chromadb
faiss-cpu
langchain_google_genai
langchain-community
PyPDF2
pdf2image
pyaudio==0.2.13
unstructured
tiktoken==0.4.0
libmagic==1.0
python-magic
openai
protobuf
langchain_experimental
mysql-connector-python
pymysql
sentence-transformers
chromadb
langchain-groq
timm
scipy
phonemizer
transformers